
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}



.container{
    background-color:#e9edf2;
    border-radius: 22px;
}
body{
    background-color: #E9EDF2;
}
.col{

}
.form-check-inputs{
    display:flex;
    flex-wrap: wrap;
}
.single-form{
    width:49%;
    padding: 15px;
    border-radius: 22px; 
 
}
body{
    background-color:#e9edf2;
}
:root{
    --primary-color:#2B3674;
    --secondary-color:#4318FF;
    --ternary-color:#8F9BBA;
    --bs-border-radius:10px;
   

}
h4{
color:var(--primary-color);
font-weight: 700;
}
.subline{
    margin-bottom: 15px;
}
.warning h6{
    color: #624E17;
    font-weight: 500;
    font-size: 16px;
}
.alert h4{
    font-size: 16px;
font-style: normal;
font-weight:500 !important;
color: #624E17;
}
.alert p{
    font-weight:400;
    font-size: 14px;
}
.card{
    border:none;
}
.header{
    background-color:#e9edf2;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    gap: 20px;
    
}
.form-control-color{
    /* max-width: 600px;
} */}
/* .single-form{
    padding: 25px;
} */
.single-form2 h4{
    /* font-size:16px; */
}
.single-form .upload-img h6{
    font-size: 16px;
    color:var(--secondary-color);
    font-weight: 700;
}
i{
    color:var(--secondary-color);
    font-weight: 700;
    font-size: 24px;
}
#upload-image{
display: none;
}

.upload-img{
    /* display:flex ; */
    width: 100%;
    background: var(--Secondary-Grey-100, #FAFCFE);

    border: 1px dashed #B2BAD0
}
.upload-img p{
font-size: 12px;
color: var(--ternary-color);
font-weight: 500;
}
h3{
    font-size: 12px;
}
.upload-img {
    align-items:center;
    flex-direction:column;
    border: 1px dashed ;
    border-radius: 10px;
    padding: 5px 5px;
}
.form-label::after{
    content:'*';
    color: red;
}
.yellow-box{
    background-color: #FBE7A5;
    color:#624E17;
    border-radius: 6px;
}
.yellow-box p{
    margin: 0;
    font-weight: 400;
}
.form-label{
   
}
.form-range{
    width: 67%;
}


.abcd{
    width: 92px;
}
/* .range-box{
    justify-content: center;
    align-items:end;
    border-radius: 5px;
} */
.range-input{
    width:80px;
    border:1px solid #B6BBC7 ;
}
.range-sketch .form-control{
    color:var(--primary-color) !important;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
/* .range-input:focus-within{
    width:80px;
    border:1px solid blue ;} */
.range-input::placeholder{
font-weight:700;
font-size: 15px;
color:#2B3674;
text-align: center;
}
/* .color-chs input{
    width:100%;
    
} 
*/
.form-control-color{
    width: 100%;
}
.form-control:focus{
    box-shadow: none;
    border-color: #4318FF;   
}
.form-select:focus{
    box-shadow: none;
    border-color:#4318FF;
}
.form-range::-webkit-slider-thumb{
    background-color: #4318FF;
}
.range-input:focus{
    box-shadow: none;
    border-color: #4318FF;
}
.quali input{
    width: 100%;
}
.quali label::after{
    content: none;
    
}
.abt-ur-self input{
    width: 100%;
    height: 150px;

}
.abt-ur-self textarea{
    height: 140px;
}
.btn{
    font-size: 15px;
    font-weight: 700;
    padding:10px;
    background-color: #FAF9FF;
    border: none;
    width: 122px;
}

label{
    font-size: 14px;
font-style: normal;
font-weight: 500;
}
.form-select{
    color: #949DB9;
    font-size: 14px;
    font-weight: 400;
}
.form-check-input:focus{
    box-shadow: none;
}

.form-control{
    font-size: 14px;
    font-weight: 400;
}

.btn-fill{
    background-color:#4318FF;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 13px;
    border-radius: 10px;
    border: none;
    width: 133px;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    border-radius: 22px;
}
 option{
  color: black;
 }
 
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1573px;
}
}
 
 
 @media screen and (max-width:1050px){
    
    /* .color-chs{
        width:30%;
    } */
    /* .form-control-color{
        width: 30%;
    } */
    .template-input{
        display: flex;
        flex-direction: column;

    }
  .template-box{
  
    justify-content: space-between;
   
  }
    .header{
        max-width: unset;
        flex-direction: column;
        margin-top: 10px;
        gap: 0px;
        /* gap: 0 !important; */
    }
    .bottom{
       border-radius:0px;
       
    }
    /* .second{
        margin: 0px;
    } */
    .single-form{
        width: 100%;
        /* margin-top: 20px; */
        border-radius: 22px 22px 0px 0px;
        padding:0px;
    
    } 
    .single-card{
        width: 100%;
       
    } 
    .second{
        border-radius: 0px;
    }
     /* .color-chs{
        width: 50%;
    }
    .form-check-inputs{
        width: 50%;
    }  */
    .bottom{
        border-radius: 0px 0px 22px 22px;
    }
    .header{
        margin: 0px auto;
        margin-top: 20px;
       
    }

    
 }
 @media screen and (max-width:920px){
 

    .header{
        max-width: unset;
        flex-direction: column;
    }
    .single-form{
        width: 100%;
    } 

    
 }